/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  padding-top: 6rem;
  max-width: 100%;
  overflow-x: hidden;
}
.review_parent_box{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin-left:11%;
}
.review_box{
 
  width:66%;
margin-bottom: 2%;
margin-left:auto;
margin-right:auto;
background-color: rgba(247, 247, 254, 1);
border-radius: 1.5rem;
display:flex;
flex-direction: column;
justify-content: center;
gap:1rem;
padding:1.5rem;
}
.review_stars{
  width:10%;
}
.text18{
font-weight: 500;
font-family: Montserrat, sans-serif;
}
.review_buttons{
  float:center;
  width:5%;
}
.apple_store {
  
    
}
.text14{
font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:15px;
color: rgba(17, 45, 53, 1);


}
.text15{
  font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:15px;
color: rgba(17, 45, 53, 1);
  
}
.text16{
  font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:15px;
color: rgba(17, 45, 53, 1);
  
}
.text17{
  font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:15px;
color: rgba(17, 45, 53, 1);
  
}
.guide_numbers_half1{
  display:flex;
  align-items:center;
  width:70%;
  gap:1rem;
  
}
.guide_numbers_half2{
  display:flex;
  align-items:center;
  width:70%;
  gap:1rem;
}
.text11{
  
font-family: "Montserrat", sans-serif;
font-weight:700;
font-size:36px;
}
.text12{

  font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:15px;
}
.text13{
  
  font-family: "Montserrat", sans-serif;
font-weight:500;
font-size:12px;
color: rgba(160, 171, 174, 1);

}
.half4 {
display: flex;
width:100%;
justify-content:center;
align-items:center;
margin-bottom:2rem;
gap:4rem;
margin-left:11%;
margin-bottom:6%;

}
.text-component4{
width:30%;
margin-left:auto;
display:flex;
flex-direction: column;
justify-content: space-between;
gap:2rem;
}
.guide {
  display:flex;
  flex-direction:column;
  gap:3rem;
}
.guide_video1{
  display:flex;
  gap:3rem;
}
.guide_video2{
  display:flex;
  gap:3rem;
}

.guide_1{

}
.guide_2{
  
}
.guide_3{
  
}
.guide_4{
  
}
.text7 {
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size:36px;
  text-align: center;
  margin-bottom: 1rem;
  
 }
 .text8 {
  font-family: "Montserrat", sans-serif;
  font-weight:400;
  font-size:15px;
  text-align: center;
  margin-bottom: 2rem;
  
 }
 .text9 {
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size:26px;
  margin-bottom: 1rem;
  text-align: center;
  
 }
 .text10 {
  font-family: "Montserrat", sans-serif;
  font-weight:400;
  font-size:16px;
  text-align: center;
  margin-bottom: 3rem;
  
 }
.text-component3{
  width:35%;
  margin-left:auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.as_seen_on {
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size: 17px;
  color: rgba(196, 196, 196, 1);

  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.home_base{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap:2rem;
  margin-bottom:5rem;
  
  
}
.magazines{
  display:flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.iphone_with_ovulation{
  width:45%;
}

.stars-div{
display:flex;
gap:1rem;
align-items: center;;
}
.stars-text{
  
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size:15px;
  
}
.text5 {
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size:48px;
  
 }
 .text6 {
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size:20px;
 }
.text-component2{
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:1.5rem;
 }
 .home_bg_image {
  position:absolute;
  width:100vw;
  z-index:-1;
  transform: translateY(-10rem);
 }
.half3{
  display: flex;
  width:100%;
  justify-content:center;
  gap:2rem;
  margin-bottom:2rem;
  position:relative;
}
 .tick_class{
  width:1rem;
}
.text_tick{
  display:flex;
  gap:5px;
}
 .text1 {
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size:36px;
  
 }
 .text2 {
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size:15px;
 }
 .text3 {
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size:15px;
 }
 .text4 {
  font-family: "Montserrat", sans-serif;
  font-weight:500;
  font-size:15px;
  display: flex;
  flex-direction: column;
  gap:5px;
 }
 .text-component{
  width:40%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 }
.rectangle {
  width:70rem;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(180, 228, 242, 0.45);
  border-radius: 1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
}
.half1 {
  display: flex;
  width:100%;
  justify-content:center;
  gap:2rem;
  margin-bottom:2rem;
  
}
.half2 {
  display: flex;
  width:100%;
  justify-content:center;
  gap:2rem;
  margin-bottom:2rem;
 
}
.ovulation_confirmed {
  background-color:  rgba(180, 228, 242, 1);
  border-radius: 1rem; 
  width:45%;
}
.chart_second_page {
  width:45%;
}

.magazine-class{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  justify-content:center;
}
.magazine {
  margin:15px;
  

} 
.btn-pill {
  border-radius: 26px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  background-color: #1F94AA;
  border: none;
  color: white;
  height: 40px;
  width: fit-content;
  padding: 15px 25px;
  font-size: 14px;
  line-height: 12px;
}

@media screen and (max-width:1148px){
  .rectangle {
    width:90%;
  }
  .text-component3{
    width:60%;
  }
}

@media screen and (max-width:1025px){
  .text1 {
    font-size:24px;
   }
   .text2 .text3 .text4{
    font-size:10px;
   }
   .text-component{
    width:50%;
   }
}
@media screen and (max-width:765px){
  .half1  {
    flex-wrap: wrap-reverse;
  }
  .half2 {
    flex-wrap: wrap;
  }
  .text-component{
    width:80%;
    gap:1.5rem;
   }
   .ovulation_confirmed {
    width:70%;
  }
  .chart_second_page {
    width:70%;
  }
  .rectangle {
    width:100%;
    background-color: white;
    padding:0px;
  }
  .half1 {
    background-color: #B4E4F2;
  }
  .text-component3 {
    width: 80%;
  }
  .half3{
    flex-wrap: wrap;
  }
  .iphone_with_ovulation{
    width:80%;
  }
  .text-component2 {
    width: 80%;
  }
 
}
