<<<<<<< HEAD
<div class="card_parent_box">
  <div class="container mt-5 rectangle_first_card">
    <div class="card border-0">
      <div class="card-body">
        <h5 class="card-title first_card_question">
          WHY MEASURE PROGESTERONE?
        </h5>
        <p class="card-text mb-3 first_card_text_half1">
          <strong>Anovulation</strong> (having a menstrual cycle with no egg) is
          actually a common occurrence, affecting 1 in 10 women*.
        </p>
        <p class="card-text mb-3 first_card_text_half2">
          A sure way to confirm ovulation is a
          <strong>rise in Progesterone level</strong> after peak fertility.
          Progesterone also supports implantation and elevated levels of PdG
          during the 7-10 day window after ovulation correlate to higher chances
          of a successful pregnancy.
        </p>
        <p class="card-text text-muted mb-3 source">
          * Source: National Institutes of Health
        </p>
        <blockquote class="blockquote mb-3">
          <p class="mb-0 first_card_quote">
            “Inito is all that you need to give you the best chance of
            conception."
          </p>
        </blockquote>
        <div class="d-flex align-items-center doctor">
          <div class="me-3">
            <img
              src="assets/doctor.png"
              alt="Doctor"
              class="img-fluid rounded-circle"
              style="width: 100px; height: 100px; object-fit: cover"
            />
          </div>
          <div class="doctor_text">
            <h6 class="mb-0 doctor_text_half1">Dr. Rachel Wagner</h6>
            <small class="text-muted doctor_text_half2">MD</small>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="why_inito_smart">
      Why Inito is the smarter way to get pregnant
  </div>

  <div class=" mt-5 rectangle_second_card">
    <div class="card border-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 second_card_text_box">
            <h5 class="card-title second_card_text_heading">
              Get charts and actual values of your hormones
            </h5>
            <p class="card-text mb-3 second_card_text_half1">
              Actual numerical values are necessary to know whether your PdG
              levels are sufficient enough to support a healthy pregnancy.
            </p>
            <p class="card-text second_card_text_half2">
              Studies show that PdG levels lower than 7.9ng/ml in serum (around
              10ug/ml PdG) 6-8 days after ovulation are associated with lower
              pregnancy outcomes.
            </p>
          </div>
          <div class="col-md-6 chart_hormones">
            <img
              src="assets/chart_hormones.png"
              alt="The Week"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 rectangle_third_card">
    <div class="card border-0">
      <div class="row g-0">
        <div class="col-md-6">
          <img
            src="assets/iphone_test_required.png"
            alt="The Week"
            class="img-fluid"
          />
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="third_card_heading">
              Inito tracks everything<br />so you don’t have to
            </h5>
            <p class="card-text mb-3 third_card_para1">
              The Inito Fertility Monitor comes with a free easy-to-use App, so
              you can track your fertile days with ease and know exactly when
              you ovulate.
            </p>
            <p class="card-text mb-3 third_card_para2">
              Our App notifies you for everything:
            </p>
            <ul class="third_card_para3">
              <li>Your fertility levels</li>
              <li>When to test on the right days</li>
              <li>When you’ve successfully ovulated</li>
              <li>And when to roll into bed!</li>
            </ul>
            <button
              type="button"
              class="btn btn-primary btn-pill"
              style="font-weight: 600; border-radius: 1.5rem"
            >
              Get the Inito Kit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card_parent_box {
    width:100%;
  margin-bottom: 2%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(180, 228, 242, 0.45);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
  }
  .why_inito_smart {
    width: 40%;
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 4rem;
  }
  .doctor_text_half1 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  .doctor_text_half2 {
    color: rgba(148, 160, 164, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .doctor_text {
    display: flex;
    flex-direction: column;
  }
  .doctor {
    display: flex;
    gap: 1rem;
  }
  .first_card_quote {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  .source {
    color: rgba(160, 171, 174, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
  .first_card_half1 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .first_card_half2 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .first_card_question {
    color: rgba(31, 148, 170, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 15px;
  }

  .rectangle_first_card {
    width: 60%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
=======
<div class="cards_background">
    <div class="rectangle_first_card">
            <div class="first_card_image">
                    <img style="width: 100%" src="assets/first_card_image.png" alt="The Week"/>
            </div>
            <div class="first_card_question">
                WHY MEASURE PROGESTERONE?
            </div> 
            <div class="first_card_half1">
                <strong>Anovulation</strong> (having a menstrual cycle with no egg) is actually a common occurrence, affecting 1 in 10 women*.
            </div>  
            <div class="first_card_half2">
                A sure way to confirm ovulation is a <strong>rise in Progesterone level</strong> after peak fertility. Progesterone also supports implantation and elevated levels of PdG during the 7-10 day window after ovulation correlates to higher chances of a successful pregnancy.
            </div>   
            <div class="source">
                * Source: National Institutes of Health
            </div>
            <div class="first_card_quote">
                “Inito is all that you need to give you the best chance of conception."
            </div>    
            <div class ="doctor">
                <div class="doctor_pfp">
                    <img style="width: 100%" src="assets/doctor.png" alt="The Week"/>
                </div>
                <div class="doctor_text">
                    <div class="doctor_text_half1">
                        Dr. Rachel Wagner
                    </div>
                    <div class="doctor_text_half2">
                    <i> MD </i>
                    </div>        

                </div>        

            </div>    
    </div>
    <div class="why_inito_smart">
      
    Why Inito is the smarter <br/> way to get pregnant
    </div>  
    <div class="rectangle_second_card">
    <div class="second_card_text_box">
        <div class="second_card_text_heading">
        Get charts and actual values of your hormones
        </div>
        <div class="second_card_text_half1">
        Actual numerical values are necessary to know whether your PdG levels are
        sufficient enough to support a healthy pregnancy.
        </div>
        <div class="second_card_text_half2">
        Studies show that PdG levels lower than 7.9ng/ml in serum (around 10ug/ml
        PdG) 6-8 days after ovulation are associated with lower pregnancy
        outcomes.
        </div>
        <button
            type="button"
            class="btn btn-primary btn-pill btn-pill-2"
            style="font-weight: 600"
        >
            Get the Inito Kit
        </button>
    </div>
    <div class="chart_hormones">
        <img style="width: 100%;" src="assets/chart_hormones.png" alt="The Week" />
    </div>
    </div>
    <div class="rectangle_third_card">
        <div class="iphone_test_required">
          <img class="fixed-image" style="width: 100%;" src="assets/iphone_test_required.png" alt="The Week"/>
          <img class="sliding-image" src="assets/slide_high_fertility.png" alt="Image1"/>
          <img class="sliding-image" src="assets/slide_low_fertility.png" alt="Image 2"/>
          <img class="sliding-image" src="assets/slide_ovulation_confirmed.png" alt="Image 2"/>
          <img class="sliding-image" src="assets/slide_peak_fertility.png" alt="Image 2"/>
          
        </div>
        <div class="third_card_text_box">
        <div class="third_card_heading">
            Inito tracks everything
            so you don’t have to

        </div>
        <div class="third_card_para1">
            The Inito Fertility Monitor comes with a free easy-to-use App, so you can track your fertile days with ease and know exactly when you ovulate.
        </div>
        <div class="third_card_para2">
            Our App notifies you for everything:
        </div>
        <div class="third_card_para3">
            <ul>
                <li>Your fertility levels</li>
                <li>When to test on the right days</li>
                <li>When you’ve successfully ovulated</li>
                <li>And when to roll into bed!</li>
            </ul>    
        </div>
        <button
            type="button"
            class="btn btn-primary btn-pill btn-pill-3"
            style="font-weight: 600"
        >
            Get the Inito Kit
        </button>
        </div>
    </div> 
</div>     





<style>
  .fixed-image {
    width: 100%;
}

.sliding-image {
    position: absolute;
    width: 50%;
    margin-top:6rem;
    top: 0;
    left: 0;
    animation: slideOver 8s infinite;
}

@keyframes slideOver {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* Stagger the animations for the images */
.sliding-image:nth-child(2) {
    animation-delay: 0s;
}

.sliding-image:nth-child(3) {
    animation-delay: 2s;
}

.sliding-image:nth-child(4) {
    animation-delay: 4s;
}

.sliding-image:nth-child(5) {
    animation-delay: 6s;
}

  
    .first_card_image{
        width:7rem;
        position:absolute;
        top:-3.5rem;
        right:-3.5rem;
    }
    .cards_background{
        background-color: rgba(225, 244, 250, 1);
        margin-top:20rem;

    }
    .doctor_text_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:15px;

    }
    .doctor_text_half2{
        color: rgba(148, 160, 164, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;
        

    }
    .doctor_text {
        display:flex;
        flex-direction:column;
    }
    .doctor {
        display:flex;
        gap:1rem;
    }
    .first_card_quote {
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:20px;

    }
    .source{
        color: rgba(160, 171, 174, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:12px;

    }
    .first_card_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

    }
    .first_card_half2{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

    }
    .first_card_question{
        color: rgba(31, 148, 170, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:15px;
    }
   
    .rectangle_first_card {
 
    position:relative;
    flex-direction: column;
    padding:1.5rem;
    transform:translateY(-10rem);
    width: 50rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
   
    }


    @media screen and (max-width: 1025px) {
        .first_card_image{
        width:5rem;
        position:absolute;
        top:-2.5rem;
        right:-2.5rem;
    }
    .rectangle_first_card {

    padding:1rem;
    width: 35rem;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
   
    }
    .doctor_text_half1{
        
        font-size:10px;

    }
    .doctor_text_half2{
        
        font-size:10px;
        

    }
    .first_card_quote {
       
        font-size:14px;

    }
    .source{
      
        font-size:9px;

    }
    .first_card_half1{
     
        font-size:10px;

    }
    .first_card_half2{
      
        font-size:10px;

    }
    .first_card_question{
        font-size:10px;
    }
  }
  @media screen and (max-width: 770px) {
    .first_card_image{
        display:none;
    }
    .rectangle_first_card {

    padding:1rem;
    width: 90%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
   
    }
    .doctor_text_half1{
        
        font-size:15px;

    }
    .doctor_text_half2{
        
        font-size:15px;
        

    }
    .first_card_quote {
       
        font-size:20px;

    }
    .source{
      
        font-size:12px;

    }
    .first_card_half1{
     
        font-size:15px;

    }
    .first_card_half2{
      
        font-size:15px;

    }
    .first_card_question{
        font-size:15px;
    }
  }
  .why_inito_smart{
    color: rgba(17, 45, 53, 1);
    transform:translateY(-10rem);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    margin-bottom:2rem;

  }
  .btn-pill-2{
    display:none;
>>>>>>> before_slider
  }
  .second_card_text_heading {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
  .second_card_text_half1 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }

<<<<<<< HEAD
  .second_card_text_half1 {
=======
  .second_card_text_half2 {
>>>>>>> before_slider
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .second_card_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
=======
    padding: 1.5rem;
>>>>>>> before_slider
    width: 50%;
    gap: 2rem;
  }
  .rectangle_second_card {
<<<<<<< HEAD
    width: 100%;
    margin-bottom: 2%;
    margin-left: 10% ;
    margin-right: 10%;
    justify-content: center;
    border-radius: 1.5rem;
    display: flex;
    padding: 1.5rem;
    gap: 1rem;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
=======
    width: 60rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
      transform:translateY(-10rem);
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
>>>>>>> before_slider
  }
  .chart_hormones {
    width: 50%;
  }
<<<<<<< HEAD
  .iphone_high_fertility {
    width: 100%;
    margin-left: 5%;
  }
  . .third_card_para3 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .third_card_para2 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .third_card_para1 {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
  .third_card_heading {
    color: rgba(17, 45, 53, 1);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
  .third_card_text_box {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
  .rectangle_third_card {
    width: 60%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    border-radius: 1.5rem;
    display: flex;
    padding: 1.5rem;
    align-items: center;
    margin-bottom: 10%;
  }
</style>
=======
  @media screen and (max-width: 1025px) {
    .rectangle_second_card {
      width: auto;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .second_card_text_box {
      padding: 1rem;
    }
    .second_card_text_heading {
      font-size: 24px;
    }
    .second_card_text_half1 {
      font-size: 12px;
    }

    .second_card_text_half2 {
      font-size: 12px;
    }
    .why_inito_smart{
      font-size:30px;
    }
  }

  @media screen and (max-width: 900px) {
    .rectangle_second_card {
      width: auto;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  @media screen and (max-width: 770px) {
    .rectangle_second_card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      flex-wrap:wrap;
      box-shadow:0 0 #000;
    }
    .second_card_text_box {
   padding:3rem;
    width: 100%;

  }
  .chart_hormones {
    width: 100%;
  }
  .second_card_text_heading {
      font-size: 30px;
    }
    .second_card_text_half1 {
      font-size: 15px;
    }

    .second_card_text_half2 {
      font-size: 15px;
    }
    .btn-pill-2{
    display:block;
  }
  .why_inito_smart{
      display:none;
    }
    
  }
  .iphone_test_required{
       width: 50%;
       padding:2rem;
       padding-bottom:0;

    }
        .
        .third_card_para3{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_para2{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_para1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_heading{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:30px;

        }
        .third_card_text_box{
            display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    width: 50%;
    gap: 2rem;

        }
        .rectangle_third_card{
            width: 60rem;
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
        transform:translateY(-6rem);
        margin-bottom: 2%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(255, 255, 255, 1);
        justify-content: center;
        border-radius: 1.5rem;
        display: flex;

        gap: 1rem;
        align-items: center;
        
        }
         @media screen and (max-width: 1025px) {
    .rectangle_third_card {
      width: auto;
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .third_card_text_box {
      padding: 1rem;
    }
    .third_card_heading {
      font-size: 24px;
    }
    .third_card_para1 .third_card_para2 .third_card_para3 {
      font-size: 12px;
    }

    
  }

  @media screen and (max-width: 900px) {
    .rectangle_third_card {
      width: auto;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  @media screen and (max-width: 770px) {
    .rectangle_third_card {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      flex-wrap:wrap-reverse;
      box-shadow:0 0 #000;
    }
    .third_card_text_box {
   padding:3rem;
    width: 100%;

  }
  .iphone_test_required {
    position:relative;
    width: 100%;
  }
  .third_card_heading {
      font-size: 30px;
    }
    .third_card_para1 .third_card_para2 .third_card_para3 {
      font-size: 15px;
    }

    .btn-pill-3{
      display:none;
    }
    .sliding-image {
    position: absolute;
    width: 90%;
    margin-top:25%;
    top: 0;
    left: 0;
    animation: slideOver 8s infinite;
}

    
  }
  

</style>    
>>>>>>> before_slider
