<div class="rectangle_first_card">
   
        <div class="first_card_question">
            WHY MEASURE PROGESTERONE?
        </div> 
        <div class="first_card_half1">
            <strong>Anovulation</strong> (having a menstrual cycle with no egg) is actually a common occurrence, affecting 1 in 10 women*.
        </div>  
        <div class="first_card_half2">
            A sure way to confirm ovulation is a <strong>rise in Progesterone level</strong> after peak fertility. Progesterone also supports implantation and elevated levels of PdG during the 7-10 day window after ovulation correlates to higher chances of a successful pregnancy.
        </div>   
        <div class="source">
            * Source: National Institutes of Health
        </div>
        <div class="first_card_quote">
            “Inito is all that you need to give you the best chance of conception."
        </div>    
        <div class ="doctor">
            <div class="doctor_pfp">
                <img style="width: 100%" src="assets/doctor.png" alt="The Week"/>
            </div>
            <div class="doctor_text">
                <div class="doctor_text_half1">
                    Dr. Rachel Wagner
                </div>
                <div class="doctor_text_half2">
                   <i> MD </i>
                </div>        

            </div>        

        </div>    
</div>    


<style>
    .doctor_text_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:15px;

    }
    .doctor_text_half2{
        color: rgba(148, 160, 164, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;
        

    }
    .doctor_text {
        display:flex;
        flex-direction:column;
    }
    .doctor {
        display:flex;
        gap:1rem;
    }
    .first_card_quote {
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:20px;

    }
    .source{
        color: rgba(160, 171, 174, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:12px;

    }
    .first_card_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

    }
    .first_card_half2{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

    }
    .first_card_question{
        color: rgba(31, 148, 170, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:15px;
    }
   
    .rectangle_first_card {
 
  
    flex-direction: column;
    padding:1.5rem;
   

    width: 50rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    justify-content: center;
    border-radius: 1.5rem;
    display: flex;
    gap: 1rem;
   
    }


    @media screen and (max-width: 1025px) {
    .rectangle_first_card {

    padding:1rem;
    width: 35rem;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
   
    }
    .doctor_text_half1{
        
        font-size:10px;

    }
    .doctor_text_half2{
        
        font-size:10px;
        

    }
    .first_card_quote {
       
        font-size:14px;

    }
    .source{
      
        font-size:9px;

    }
    .first_card_half1{
     
        font-size:10px;

    }
    .first_card_half2{
      
        font-size:10px;

    }
    .first_card_question{
        font-size:10px;
    }
  }
  @media screen and (max-width: 770px) {
    .rectangle_first_card {

    padding:1rem;
    width: 90%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
   
    }
    .doctor_text_half1{
        
        font-size:15px;

    }
    .doctor_text_half2{
        
        font-size:15px;
        

    }
    .first_card_quote {
       
        font-size:20px;

    }
    .source{
      
        font-size:12px;

    }
    .first_card_half1{
     
        font-size:15px;

    }
    .first_card_half2{
      
        font-size:15px;

    }
    .first_card_question{
        font-size:15px;
    }
  }

</style>    