
<div class="rectangle_footer">
  <div class="footer_first_half">
      <div class="footer_title">
        <div class="company_heading">Company</div>
        <div class="abc">About Us</div>
        <div class="abc">Careers</div>
        <div class="abc">Buy Now</div>
        <div class="abc">Contact Us</div>
     </div>
     <div class="footer_title">
        <div class="support_heading">Support</div>
        <div class="abc">FAQ</div>
        <div class="abc">Terms</div>
        <div class="abc">Privacy Policy</div>
        <div class="abc">Returns & Warranty</div>
        <div class="abc">
            Consumer Health Data Privacy Policy
        </div>
     </div>  
     <div class="footer_title">
        <div class="get_in_touch_heading">Get In Touch</div>
        <div class="abc">+91-9742931931</div>
        <div class="abc">help@inito.com</div>
        <div class="abc">
              2nd Floor, #44 , 100 Feet Rd, Koramangala 4th Block, Bengaluru, 560034, IN
        </div>
     </div>    
 
  </div>  
  <div class="footer_second_half">
    <div class="facebook">
      <img style="width: 100%" src="assets/facebook.png" alt="The Week" />
    </div>
    <div class="instagram">
      <img style="width: 100%" src="assets/instagram.png" alt="The Week" />
    </div>
    <div class="linkedin">
      <img style="width: 100%" src="assets/linkedin.png" alt="The Week" />
    </div>
    <div class="youtube">
      <img style="width: 100%" src="assets/youtube.png" alt="The Week" />
    </div>
  </div>  
</div>

<div class="footer_base">
    <div class="logo_footer">
      <img style="width: 100%" src="assets/logo_footer.png" alt="The Week" />
      
    </div>
    <div class="copyright">
        <img class="copyright_desktop" style="width: 100%" src="assets/copyright.png" alt="The Week" />
        <img class="copyright_mobile" style="width: 100%" src="assets/copyright_mobile.png" alt="The Week" />
    </div>    

</div>    


<style>
    .copyright_desktop{
        display:block;
    }
    .copyright_mobile{
        display:none;
    }
    .footer_base{
        display:flex;
        justify-content:space-between;
        background-color: rgba(0, 0, 0, 1);
        padding-top:1rem;
        padding-bottom:1rem;
        padding-left:8rem;
        padding-right:8rem;
    }
     .rectangle_footer {
        
        justify-content:center;
        background-color: rgba(17, 45, 53, 1);
        display: flex;
        padding:1rem;
        width:100vw;
        
      }
      .footer_first_half{
        display:flex;
        
        width:65%;
        justify-content:space-between;
      }
      .footer_second_half{
        display: flex;
        gap:1rem;
      }
      .logo_footer {
        background-color: rgba(0, 0, 0, 1);
      }
      .abc {
        color: rgba(160, 171, 174, 1);
      }
      .company_heading {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 15px;
      }
      .support_heading {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 15px;
      }
      .get_in_touch_heading {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 15px;
      }
      .footer_title {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width:30%;
      }
      
     
      .social_media {
        display: flex;
        gap: 1rem;
      }

 @media screen and (max-width: 842px) {
    .rectangle_footer {
      flex-direction:column-reverse;
      gap:2rem;
      align-items:center;
      
    }
    
   
      .footer_second_half{
        gap:3rem;
      }
      .footer_base{
        flex-direction: column;
        gap:1rem;
        align-items:center;
      }
      
      .copyright_mobile{
        
        display:block;
      }
      .copyright_desktop{
     
        display:none;
      }
  }
  @media screen and (max-width: 558px) {
    .rectangle_footer {
      flex-direction:column-reverse;
      gap:2rem;
      align-items:center;
      
    }
    
  }

      
      
</style>    