<%# <div class="half4">
  <div class="text-component4">
    <div class="text11">A fertility lab at your fingertips</div>
    <div class="text12">
      Easy-to-read fertility diagnostic results directly on your iPhone*, in
      just 10 minutes.
    </div>
    <button
      type="button"
      class="btn btn-primary btn-pill"
      style="font-weight: 600"
    >
      Get the Inito Kit
    </button>
    <div class="text13">
      * The Inito Fertility Monitor currently supports iPhone 7 and up. Android
      phones are not supported at the moment.
    </div>
    <div class="apple_store">
      <img
        style="float: right; margin-right: 2rem"
        src="assets/apple_store.png"
        alt="The Week"
      />
    </div>
  </div>

  <div class="guide">
    <div class="guide_video1">
      <div class="guide_1">
        <img style="width: 100%" src="assets/guide_1" alt="The Week" />
      </div>
      <div class="guide_2">
        <img style="width: 100%" src="assets/guide_2.png" alt="The Week" />
      </div>
    </div>
    <div class="guide_numbers_half1">
      <div class="guide_number_1">
        <img
          style="width: 100%"
          src="assets/guide_number_1.png"
          alt="The Week"
        />
      </div>
      <div class="text14">Dip the test strip in urine for 15 seconds.</div>
      <div class="guide_number_2">
        <img
          style="width: 100%"
          src="assets/guide_number_2.png"
          alt="The Week"
        />
      </div>
      <div class="text15">
        Attach the Inito Fertility Monitor to your iPhone*.
      </div>
    </div>
    <div class="guide_video2">
      <div class="guide_3">
        <img style="width: 100%" src="assets/guide_3.png" alt="The Week" />
      </div>
      <div class="guide_4">
        <img style="width: 100%" src="assets/guide_4.png" alt="The Week" />
      </div>
    </div>
    <div class="guide_numbers_half2">
      <div class="guide_number3">
        <img
          style="width: 100%"
          src="assets/guide_number_3.png"
          alt="The Week"
        />
      </div>
      <div class="text16">
        Insert the test strip into the Inito Fertility Monitor.
      </div>
      <div class="guide_number4">
        <img
          style="width: 100%"
          src="assets/guide_number_4.png"
          alt="The Week"
        />
      </div>
      <div class="text17">
        Get personalized results on our App in 10 minutes.
      </div>
    </div>
  </div>
</div> %>
<div class="half4">
  <div class="text-component4">
    <div class="text11">A fertility lab at your fingertips</div>
    <div class="text12">
      Easy-to-read fertility diagnostic results directly on your iPhone*, in
      just 10 minutes.
    </div>
    <button
      type="button"
      class="btn btn-primary btn-pill"
      style="font-weight: 600"
    >
      Get the Inito Kit
    </button>
    <div class="text13">
      * The Inito Fertility Monitor currently supports iPhone 7 and up. Android
      phones are not supported at the moment.
    </div>
    <div class="apple_store">
      <img
        style="float: right; margin-right: 2rem"
        src="assets/apple_store.png"
        alt="The Week"
      />
    </div>
  </div>

  <div class="images_part">
    <div class ="guide_half_1">
        <div class="guide_half_left">
        </div>
        <div class="guide_half_lef">
        </div>      

    </div> 
    <div class ="guide_half_2">

    </div>   
  </div>
</div>

<style>
    .images_part{
        display:flex;
        flex-direction:column;
    }
    .guide_half_1{
        display:flex;
    }
    .guide_half_2{
        display:flex;
    }

</style>    

