<div class="header_bg_image"></div>

<style>
.header_bg_image {
    width: 100vw;
    height: 100vh; 
    background-image: url('<%= image_path('header_bg_image.png') %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index:1;
    position: relative;
}
</style>