<div class="half3">
        <div class="home_bg_image">
            <img style="width: 100%" src="assets/header_bg_image.png" alt="The Week">
        </div>    
        <div class="text-component2">
            <div class="stars-div">
                <div class="stars">
                    <img style="width: 100%" src="assets/stars.png" alt="The Week">
                </div>   
                <div class="stars-text">
                    TRUSTED BY 20,000+ COUPLES
                </div>    
            </div>
                
            <div class="text5" >
        
                Track your fertility hormones at home, in 10 minutes        
               
            </div> 
            <div class="text6">
                Get accurate results of <strong>Estrogen, LH, PdG (urine metabolite of progesterone) and FSH </strong>with Inito, the all-in-one fertility monitor.
            </div>    
            
            <button type="button" class="btn btn-primary btn-pill" style="font-weight:600" >How does Inito Work?</button>  
        </div> 
        <div class="iphone_with_ovulation">
            <img style="width: 100%" src="assets/iphone_with_ovulation_desktop.png" alt="The Week">
        </div>    

</div>