<div class="home_base">
        <div class="as_seen_on">
            AS SEEN ON
         </div>   
         <div class="magazines" >
            
             <img style="width: 10rem" src="assets/bloomberg.png" alt="Bloomberg">
              <img style="width: 10rem" src="assets/forbes.png" alt="Forbes">
               <img style="width: 10rem" src="assets/the_week.png" alt="The Week">
               <img style="width: 10rem" src="assets/4washington.png" alt="Washington">
               <img style="width: 10rem" src="assets/entrepreneur.png" alt="Entrepreneur">
               
         </div>      
</div>  