  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" style="padding-left:250px;" href="#">
      <img src="<%= image_path('logo.png') %>" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mr-4">
          <a class="nav-link nav-ele" href="#">About Us <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item active mr-4">
          <a class="nav-link nav-ele" href="#">Blog </a>
        </li>
        <li class="nav-item active mr-4">
          <a class="nav-link nav-ele" href="#">FAQ</a>
        </li>
        <li class="nav-item active mr-4">
          <a class="nav-link nav-ele" href="#">Contact Us</a>
        </li>
        <li class="nav-item nav-ele" style="padding-right:200px;">
          <a class="btn btn-primary btn-pill" style="font-weight:600" href="#">Try Inito</a>
        </li>
      </ul>
    </div>
  </nav>

<style>

</style>  
