

<div class="questions_main">
  <div class="text19">Your top questions, answered</div>
  <div class="questions_box">
    <div class="questions_side">
      <div class="question">
        <div class="question_text">What results does Inito give?</div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">
          How many test strips are required per cycle?
        </div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">
          Where can I get more refill strips? Do I need to buy a new monitor
          every cycle?
        </div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">
          Do I need to use a test strip for each hormone?
        </div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
    </div>
    <div class="questions_side">
      <div class="question">
        <div class="question_text">Will Inito work if I have PCOS?</div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">Do medications affect the results?</div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">
          Can I use HSA benefits to purchase Inito?
        </div>
        <div class="plus">
          <img style="width: 100%" src="assets/plus.png" alt="The Week" />
        </div>
      </div>
      <div class="question">
        <div class="question_text">
          What is Inito's regulatory status in the US?
        </div>
        <div class="plus">
          <img
            style="width: 100%; size: 30px"
            src="assets/plus.png"
            alt="The Week"
          />
        </div>
      </div>
    </div>
  </div>
</div>


    <style>
      .plus {
        width:5%;
      }
      
      .questions_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom:2rem;
      }
      .questions_side{
        width:48%;
        display:flex;
        flex-direction:column;
        gap:1.5rem;
      }
      .question{
        width:100%;
        display:flex;
        background-color: rgba(247, 247, 254, 1);
        border-radius:1.5rem;
        padding:1rem 2rem;
        font-weight: 700;
        font-size: 18px;
        justify-content: space-between;
        align-items:center;
      }

      .text19 {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 2rem;
        width: 55%;
      }
      .questions_box {
        display: flex;
        justify-content: space-between;
        width: 70rem;
        margin-left:auto;
        margin-right:auto;
      }
      .question_text{
        width:85%;
      }
       @media screen and (max-width: 1025px) {
          .questions_box{
            width:90%;
          }
          .text19 {
        font-size: 45px;
      }

        }
        @media screen and (max-width: 645px) {
          .questions_box{
            flex-direction:column;
          }
          .question_side{
            width:90%;
          }
          .question {
            width:100vw;
          }

        }
    </style>
  
