<div class="review_parent_box">
  <div class="review_box">
    <div class="review_stars">
      <img style="width: 100%" src="assets/review_stars.png" alt="The Week" />
    </div>
    <div class="review_text">
      This is my favorite fertility monitor I’ve tried so far. I was cautious
      about ordering since there’s very little info or reviews around the
      internet, but it seems to be a very well made and reliable device. It’s
      totally fascinating to see my hormone levels on the chart! My LH levels
      don’t cooperate with standard ovulation strips (I never get a positive
      with standard strips), so it’s nice to see all the different hormones
      mapped out together.
    </div>
    <div class="review_author">
          Sunny
    </div>
  </div>
 
      
 <div class="review_buttons">
    <img  src="assets/review_buttons.png" alt="The Week" />
  </div>  
    
   
</div>  

  


<style>
  .review_author{
    font-family: "Montserrat", sans-serif;
    font-weight:600;
    font-size:15px;
    color: rgba(143, 143, 143, 1);

  }
  
  @media screen and (max-width:769px){
    
    .review_author{
      color:rgba(0, 150, 173,1);
    }
    .review_stars{
      width:6.5rem;
    }
  
  }
  

</style>  