<div class="rectangle">
  <div class="half1">
    <div class="ovulation_confirmed">
      <img
        style="width: 100%"
        src="assets/ovulation_confirmed_iphone.png"
        alt="The Week"
      />
    </div>
    <div class="text-component">
      <div class="text1">
          <div class="actual_underline">
                <img style="width: 100%" src="assets/actual_underline.png" alt="The Week"/>
          </div>

        Predict and confirm your ovulation with actual data
      </div>
      <div class="text2">
        Unlike most ovulation tests that only give you "yes/no" results, Inito
        provides <strong>real numerical values </strong>of your fertility
        hormones.
      </div>
      <div class="text3">
        If you have irregular cycles, actual data is necessary to know exactly
        when you ovulate, and when is the best time to try to conceive.
      </div>
      <button
        type="button"
        class="btn btn-primary btn-pill"
        style="font-weight: 600"
      >
        Get the Inito Kit
      </button>
    </div>
  </div>
  <div class="half2">
    <div class="text-component">
      <div class="text1">Never miss a day again with Inito</div>
      <div class="text2">
        Inito tracks up to 6 fertile days and confirms ovulation by measuring
        all 4 hormones in just 10 minutes:
      </div>
      <div class="text4">
        <div class="text_tick">
          <div class="tick_class">
            <img
              style="width: 100%"
              src="assets/green_tick.png"
              alt="The Week"
            />
          </div>
          <div>Estrogen, which rises 3-4 days before ovulation</div>
        </div>
        <div class="text_tick">
          <div class="tick_class">
            <img
              style="width: 100%"
              src="assets/purple_tick.png"
              alt="The Week"
            />
          </div>
          <div>LH, which surges 24-36 hours before ovulation</div>
        </div>
        <div class="text_tick">
          <div class="tick_class">
            <img
              style="width: 100%"
              src="assets/blue_tick.png"
              alt="The Week"
            />
          </div>
          <div>PdG, which rises after ovulation</div>
        </div>
        <div class="text_tick">
          <div class="tick_class">
            <img
              style="width: 100%"
              src="assets/orange_tick.png"
              alt="The Week"
            />
          </div>
          <div>FSH, to track follicle growth</div>
        </div>
      </div>
    </div>
    <div class="chart_second_page">
      <img style="width: 100%" src="assets/chart_second_page.png" alt="The Week"/>
    </div>
  </div>
</div>

<style>
  .actual_underline{
     width:8rem;
     position:absolute;
     top:8rem;
    
  }
  .text1 {
  position:relative;
  font-family: "Montserrat", sans-serif;
  font-weight:700;
  font-size:36px;
 }

</style>  
