<div class="container mt-5 rectangle_second_card ">
  <div class="card border-0 shadow-sm">
    <div class="card-body ">
      <div class="row ">
        <div class="col-md-6 second_card_text_box">
          <h5 class="card-title second_card_text_heading">
            Get charts and actual values of your hormones
          </h5>
          <p class="card-text mb-3 second_card_text_half1">
            Actual numerical values are necessary to know whether your PdG levels are sufficient enough to support a healthy pregnancy.
          </p>
          <p class="card-text second_card_text_half2">
            Studies show that PdG levels lower than 7.9ng/ml in serum (around 10ug/ml PdG) 6-8 days after ovulation are associated with lower pregnancy outcomes.
          </p>
        </div>
        <div class="col-md-6 chart_hormones">
          <img src="assets/chart_hormones.png" alt="The Week" class="img-fluid"/>
        </div>
      </div>
    </div>
  </div>
</div>




  <style>
    .second_card_text_heading{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:30px;
    }
    .second_card_text_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

    }

    .second_card_text_half1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;
    }
    .second_card_text_box{
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:50%;
        gap:2rem;
    }
    .rectangle_second_card{
        width:70%;
        margin-bottom: 2%;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(255, 255, 255, 1);
        justify-content:center;
        border-radius: 1.5rem;
        display:flex;
        padding:1.5rem;
        gap:1rem;
     

    }
    .chart_hormones {
        width:50%;

    }
  </style>  