<div class="container mt-5 rectangle_third_card">
  <div class="card border-0 shadow-sm">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="assets/iphone_test_required.png" alt="The Week" class="img-fluid"/>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="third_card_heading">
            Inito tracks everything<br>so you don’t have to
          </h5>
          <p class="card-text mb-3 third_card_para1">
            The Inito Fertility Monitor comes with a free easy-to-use App, so you can track your fertile days with ease and know exactly when you ovulate.
          </p>
          <p class="card-text mb-3 third_card_para2">
            Our App notifies you for everything:
          </p>
          <ul class="third_card_para3">
            <li>Your fertility levels</li>
            <li>When to test on the right days</li>
            <li>When you’ve successfully ovulated</li>
            <li>And when to roll into bed!</li>
          </ul>
          <button type="button" class="btn btn-primary btn-pill" style="font-weight: 600; border-radius: 1.5rem;">
            Get the Inito Kit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
  


    <style>
    .iphone_high_fertility{
      width:100%;
      margin-left:5%;
    }
        .
        .third_card_para3{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_para2{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_para1{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:500;
        font-size:15px;

        }
        .third_card_heading{
        color: rgba(17, 45, 53, 1);
        font-family: "Montserrat", sans-serif;
        font-weight:700;
        font-size:30px;

        }
        .third_card_text_box{
            display:flex;
            flex-direction:column;
            width:100%;
            gap:2rem;

        }
        .rectangle_third_card{
        width:60%;
        margin-bottom: 2%;
        margin-left:auto;
        margin-right:auto;
        background-color: rgba(255, 255, 255, 1);
        justify-content:center;
        border-radius: 1.5rem;
        display:flex;
        padding:1.5rem;
        gap:1rem;
        align-items:center;
        margin-bottom:10%;
        
        }
    </style>    